<div class="col-4 mx-auto">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'm-t' }) do |f| %>
    <div class="form-group">
      <%= f.text_field :email, placeholder: t('activerecord.attributes.user.email'), class: 'form-control', required: false, autofocus: true, wrapper: false %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, placeholder: t('activerecord.attributes.user.password'), class: 'form-control', required: false, wrapper: false %>
    </div>

    <%= f.submit t('helpers.button.login'), class: 'btn btn-primary btn-block' %>
  <% end %>
</div>
